
header img{
    width: 100px;
    height: auto;
    margin-bottom: 1.2rem;
  }
  
  header h1{
    color: rgba(255, 255, 255, 0.949);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    
  }

  